* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BANNER */

.photograph-header {
  background-color: #fafafa;
  height: 350px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-photograph {
  line-height: 70px;
}
.details-photograph > h1 {
  font-size: 45px;
  color: #d3573c;
}

.details-photograph > h2 {
  font-size: 25px;
  color: #901c1c;
}
.details-photograph > span {
  font-size: 20px;
  color: #525252;
}

.photograph-header > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-right: 100px;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #db8876;
  color: black;
}

/* SORT */

.sort-by {
  margin: 50px 100px;
  font-weight: bold;
}

.sort-by select,
option {
  padding-left: 10px;
  font-weight: bold;
  height: 69px;
  width: 170px;
  border-radius: 5px;
  background: #901c1c;
  color: white;
}

/* GALLERY */

.gallery {
  margin: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-content {
  margin: 25px 15px;
}

.gallery-content > img,
.gallery-content video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.gallery-details {
  color: #911c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes {
  font-weight: bold;
}

/* COUNTER LIKES */

.counter {
  width: 376px;
  height: 89px;
  background: #db8876;
  border-radius: 5px;
  position: fixed;
  right: 30px;
  bottom: -13px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.total,
.price {
  font-weight: bold;
  font-size: 24px;
}

/* FORM */

.contact-modal {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #c4c4c466;
  transition: opacity 0.5s ease-in-out;
}

.contact-modal.modalIn {
  animation: modalIn 1s forwards;
  display: block;
}

.contact-modal.modalOut {
  animation: modalOut 1s;
}

.modal {
  margin: 60px auto;
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  padding-bottom: 25px;
  margin: 15px 0;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 58px;
  font-weight: normal;
  text-align: left;
}

.modal-body {
  width: 100%;
}

form {
  display: flex;
  width: 100%;
  min-width: 200px;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  padding: 0 10px;
}

form textarea {
  width: 100%;
  height: 130px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
}

.btn-submit {
  font-size: 15px;
  margin-top: 25px;
  border-radius: 5px;
  height: 69px;
  width: 170px;
  border-radius: 5px;
  color: white;
  background: #911c1c;
  transition: 0.3s;
}

.btn-submit:hover {
  font-size: 17px;
}

.error {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 3px 10px;
}

@keyframes modalIn {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
