@import url("photographer.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.photographer_section article {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 20px;
}

article div {
  text-align: center;
}

a {
  text-decoration: none;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.home-city {
  color: #901c1c;
  font-size: 17px;
}

.home-price {
  color: rgb(102, 102, 102);
  font-size: 15px;
}
